* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    width: 98.5vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #e2e7ec;
}
.main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 200vh;
    width: 100vw;
    margin: 5vh 15vh 10vh 15vh;
}

.big-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 66.4%;
    height: 49%;
    background-image: url("images/1.png");
    background-size: cover;
    text-transform: uppercase;
    color: white;
    
}
.big-item p:last-of-type {
    height: 20%;
    width: 70%;
    font-size: 30px;
    padding-top: 2%;
}
.small-item {
    display: flex;
    flex-direction: column;
    width: 32.8%;
    height: 49%;
    background-color: white;
}
.small-item p:first-of-type, .big-item p:first-of-type {
    height: 11.5%;
    padding-top: 7%;
    color: #818181;
}

.small-item p:nth-of-type(2) {
    height: 30%;
    font-weight: 500;
    line-height: 1.5;
    font-size: 4.5vh;
}
.small-item p:last-of-type, .small-item p:nth-of-type(2),
.small-item p:first-of-type, .big-item p:first-of-type,
.big-item p:last-of-type {
    padding-left: 7.7%;
    padding-right: 7.7%;
}